<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rocket </title>

    <link rel="stylesheet" href="/plugins/fontawesome/all.min.css">

    <link rel="stylesheet" href="/plugins/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main/normalize.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/main/core.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/js/prism.js"></script>

</head>
