<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        GuiaMail
    </a>

    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a  class="nav-link" href="/">Planos</a>
        </li>
    </ul>

</nav>