<div class="container-logo w-100 mt-5 mb-3">
  <img src="/images/logo.png" alt="Logo Rocket License">
</div>

<div class="container dashboard">
  <div class="card">
    <div class="card-header">
      <ul class="menu">

        <a href="/customers">
        <li>Customers</li>
        </a>

        <a href="/register-new-customer">
          <li>Register Customers</li>
        </a>

        <a href="/generate">
          <li>Generate License</li>
        </a>

      </ul>
    </div>

  </div>
</div>
